/{
        gesture_window: gesture_window {
                compatible = "zmk,input-processor-mouse-gesture";
                #input-processor-cells = <0>;
        
                enable-eager-mode;
                movement-threshold = <6>;
                idle-timeout-ms = <120>;
                gesture-cooldown-ms = <150>;
        
bindings = <
    &kp LG(UP)        // 上: 最大化
    &kp LG(DOWN)      // 下: 最小化
    &kp LA(TAB)       // 右: 次のウィンドウ
    &kp LS(LA(TAB))   // 左: 前のウィンドウ
>;

        };
};
